// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600');

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-family: $heading-font-family;
  color: $primary-color;
}

h1 { font-size: 2.2rem; line-height: 1.2;   }
h2 { font-size: 2.1rem; line-height: 1.2;  }
h3 { font-size: 2.0rem; line-height: 1.2;   }
h4 { font-size: 1.8rem; line-height: 1.1;  }
h5 { font-size: 1.6rem; line-height: 1.1;   }
h6 { font-size: 1.6rem; line-height: 1.1;   }

// Larger than phablet
@media (#{$bp-larger-than-phablet}) {
  // h1 { font-size: 5.0rem; }
  // h2 { font-size: 4.2rem; }
  // h3 { font-size: 3.6rem; }
  // h4 { font-size: 3.0rem; }
  // h5 { font-size: 2.4rem; }
  // h6 { font-size: 1.5rem; }
}

p {
  margin: 0 0 1rem 0;

  &:last-of-type {
    margin-bottom: 0;
  }
}
